CREATE DATABASE [bd2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'bd2', FILENAME = N'/var/opt/mssql/data/bd2.mdf' , SIZE = 8192KB , FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'bd2_log', FILENAME = N'/var/opt/mssql/data/bd2_log.ldf' , SIZE = 8192KB , FILEGROWTH = 65536KB )
GO
USE [bd2]
GO
USE [bd2]
GO
IF NOT EXISTS (SELECT name FROM sys.filegroups WHERE is_default=1 AND name = N'PRIMARY') ALTER DATABASE [bd2] MODIFY FILEGROUP [PRIMARY] DEFAULT
GO
